ul{
    list-style-type: none;
}
.container-lg{
    padding: 0 !important;
    gap: 0 !important;
}
.navbar,
.nav-link{
    color: #FFF;
}
.navbar-brand{
    color: #07cbf2;
    background-color: #FFF;
    padding: 0.2rem 1rem;
    border-radius: 50px;
}
